<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thoughts - Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
    <style>
        .brand-title {
            font-size: 3rem;
        }
        .brand-subtitle {
            font-size: 3rem;
            color: #6c757d;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login">
            <span class="brand-title">Thoughts</span>
            <span class="brand-subtitle">Account</span>
        </a>
    </div>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Create account
                </div>
                <div class="card-body">
                    <form th:action="@{/registration}" method="post" th:object="${user}" novalidate class="mt-4">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" id="username" name="username" class="form-control"
                                   th:value="${user.username}"
                                   th:classappend="${#fields.hasErrors('username')} ? ' is-invalid' : ''"
                                   placeholder="Please enter username">
                            <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback"
                                 th:errors="*{username}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="text" id="email" name="email" class="form-control"
                                   th:value="${user.email}"
                                   th:classappend="${#fields.hasErrors('email')} ? ' is-invalid' : ''"
                                   placeholder="Please enter email">
                            <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback"
                                 th:errors="*{email}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" id="password" name="password" class="form-control"
                                   th:classappend="${#fields.hasErrors('password')} ? ' is-invalid' : ''"
                                   placeholder="Please enter a password">
                            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback"
                                 th:errors="*{password}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Password:</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                                   th:classappend="${#fields.hasErrors('confirmPassword')} ? ' is-invalid' : ''"
                                   placeholder="Please enter the same password again">
                            <div th:if="${#fields.hasErrors('confirmPassword')}" class="invalid-feedback"
                                 th:errors="*{confirmPassword}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                    <div class="mt-3">
                        Already have an account? <a href="/login">Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy2FZfBvEf29JvnehA6ZHDSD6S/Qq4s6wU"
        crossorigin="anonymous"></script>
</body>

</html>
