<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head th:replace="~{base.html :: head}">
</head>
<body>
<div th:replace="~{base.html :: navbar}"></div>
<div th:replace="~{base.html :: contentWrapper}">
    <th:block th:fragment="content">
        <div class="container mt-5">
            <h1 class="mb-4">User Edit Profile</h1>
            <form th:action="@{/users/admin/{userId}(userId=${user.id})}" method="post" th:object="${user}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input id="username" type="text" class="form-control" name="username" th:value="${user.username}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Roles</label>
                    <div th:each="role : ${roles}" class="form-check">
                        <input type="checkbox" class="form-check-input" name="roles"
                               th:value="${role.name()}"
                               th:checked="${user.roles.contains(role)}" id="role-[[${role.name()}]]">
                        <label class="form-check-label" th:for="|role-${role.name()}|">
                            <span th:text="${role.name()}"></span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </th:block>
</div>
</body>
</html>