<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thoughts</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>User edit profile</h1>
    <form th:action="@{/users/{userId}(userId=${user.id})}" method="post" th:object="${user}">
        <label for="username">Username:
            <input id="username" type="text" name="username" th:value="${user.username}">
        </label><br>
        <div th:each="role : ${roles}">
            <label>
                <input type="checkbox" name="roles"
                       th:value="${role.name()}"
                       th:checked="${user.roles.contains(role)}">
                <span th:text="${role.name()}"></span>
            </label>
        </div>
        <button type="submit">Edit</button>
    </form>
</body>
</html>