<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head th:replace="~{base.html :: head}">
</head>
<body>
<div th:replace="~{base.html :: navbar}"></div>
<div th:replace="~{base.html :: contentWrapper}">
    <th:block th:fragment="content">
        <div>
            <div>
                <span th:text="${user.username}"></span>
            </div>
            <div>
                <div class="container my-3">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">Subscriptions</div>
                                    <h3 class="card-text">
                                        <a href="/user/subscriptions/${userChannel.id}/list">${subscriptionsCount}</a>
                                        <a th:href="@{/profile/subscriptions/{id}(id=${user.id})}"
                                           th:text="${user.get}"></a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-title">Subscribers</div>
                                    <h3 class="card-text">
                                        <a href="/user/subscribers/${userChannel.id}/list">${subscribersCount}</a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Edit User
            </div>
            <div class="card-body">
                <form th:action="@{/users/profile/{userId}(userId=${user.id})}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control" name="username" th:value="*{username}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" name="password">
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>