<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head th:replace="~{base.html :: head}">
</head>
<body>
<div th:replace="~{base.html :: navbar}"></div>
<div th:replace="~{base.html :: contentWrapper}">
    <th:block th:fragment="content">
        <div class="container my-4">
            <div class="row mb-3">
                <div class="col">
                    <span th:text="${user.username}"></span>
                </div>
            </div>
            <div class="row mb-3" th:if="${user.id != #authentication.principal.id}">
                <div class="col">
                    <div th:if="!${user.isSubscribed}">
                        <form th:action="@{/profile/subscribe/{id}(id=${user.id})}" method="post">
                            <button type="submit" class="btn btn-primary">Subscribe</button>
                        </form>
                    </div>
                    <div th:if="${user.isSubscribed}">
                        <form th:action="@{/profile/unsubscribe/{id}(id=${user.id})}" method="post">
                            <button type="submit" class="btn btn-primary">Unsubscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subscriptions</h5>
                            <h3 class="card-text">
                                <span th:text="${user.subscriptions}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Subscribers</h5>
                            <h3 class="card-text">
                                <span th:text="${user.subscribers}"></span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--        <div class="card">-->
        <!--            <div class="card-header">-->
        <!--                Edit User-->
        <!--            </div>-->
        <!--            <div class="card-body">-->
        <!--                <form th:action="@{/users/profile/{userId}(userId=${user.id})}" method="post" th:object="${user}">-->
        <!--                    <div class="form-group">-->
        <!--                        <label for="username">Username</label>-->
        <!--                        <input id="username" type="text" class="form-control" name="username" th:value="*{username}">-->
        <!--                    </div>-->
        <!--                    <div class="form-group">-->
        <!--                        <label for="password">Password</label>-->
        <!--                        <input id="password" type="password" class="form-control" name="password">-->
        <!--                    </div>-->
        <!--                    <br>-->
        <!--                    <div>-->
        <!--                        <button type="submit" class="btn btn-primary">Edit</button>-->
        <!--                    </div>-->
        <!--                </form>-->
        <!--            </div>-->
        <!--        </div>-->
    </th:block>
</div>
</body>
</html>