<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head th:replace="~{base.html :: head}">
</head>
<body>
<div th:replace="~{base.html :: navbar}"></div>
<div th:replace="~{base.html :: contentWrapper}">
    <th:block th:fragment="content">
        <div class="card">
            <div class="card-header">
                Edit User
            </div>
            <div class="card-body">
                <form th:action="@{/users/profile/{userId}(userId=${user.id})}" method="post" th:object="${user}">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" type="text" class="form-control" name="username" th:value="*{username}" placeholder="${user.username}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" class="form-control" name="password" th:value="*{password}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>