<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thoughts</title>
</head>
<body>
<h1>All users</h1>
<div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${#strings.listJoin(user.roles, ', ')}"></td>
            <td><a th:href="@{/users/{id}(id=${user.id})}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
