<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Create message</h1>

<form method="post" action="/messages" th:object="${message}">
    <form method="post" th:action="@{/messages}" th:object="${message}">
        <label for="text">Text:
            <input type="text" id="text" name="text" required><br><br>
        </label><br>
        <label for="tag">Tag:
            <input type="text" id="tag" name="tag" required><br><br>
        </label><br>
        <button type="submit">Create Message</button>
    </form>
</body>
</html>