<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head th:replace="~{base.html :: head}">
</head>
<body>
<div th:replace="~{base.html :: navbar}"></div>
<div th:replace="~{base.html :: contentWrapper}">
    <th:block th:fragment="content">
        <div>
            <p class="d-inline-flex gap-1">
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                   th:attr="aria-expanded=${message != null} ? true : false"
                   aria-controls="collapseExample">
                    Add new message
                </a>
            </p>
            <div id="collapseExample" class="collapse" th:classappend="${message?.text != null} ? 'show' : ''">
                <div class="card card-body">
                    <form method="post" th:action="@{/messages}" th:object="${message}" enctype="multipart/form-data"
                          class="mt-4">
                        <div class="mb-3">
                            <label for="text" class="form-label">Text:</label>
                            <input type="text" id="text" name="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('text')} ? 'is-invalid' : ''">
                            <div th:if="${#fields.hasErrors('text')}" class="invalid-feedback"
                                 th:errors="*{text}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="tag" class="form-label">Tag:</label>
                            <input type="text" id="tag" name="tag" class="form-control"
                                   th:classappend="${#fields.hasErrors('tag')} ? 'is-invalid' : ''">
                            <div th:if="${#fields.hasErrors('tag')}" class="invalid-feedback" th:errors="*{tag}"></div>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Image:</label>
                            <input type="file" id="image" name="image" class="form-control"
                                   th:classappend="${#fields.hasErrors('image')} ? 'is-invalid' : ''">
                            <div th:if="${#fields.hasErrors('image')}" class="invalid-feedback"
                                 th:errors="*{image}"></div>
                        </div>
                        <button type="submit" class="btn btn-primary">Create Message</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3 mb-4">
                <form method="get" th:action="@{/messages}" class="input-group">
                    <input type="text" name="tag" class="form-control" placeholder="Enter tag">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <th:block th:each="message : ${messages}">
                <div class="col">
                    <div class="card h-100">
                        <div th:if="${message.image}">
                            <img th:src="@{'/image/' + ${message.image}}" alt="Message image" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <span th:text="${message.text}"></span>
                            <br>
                            <em th:text="'#' + ${message.tag}" style="font-style: italic; margin-left: 5px;"></em>
                        </div>
                        <div class="card-footer">
                            <!--                TODO 03.07.2024 : Fix problem with requests for each author -->
                            <a th:href="@{/messages/{id}(id=${message.author.id})}"
                               th:text="${message.author.username}"></a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
</body>
</html>