<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="~{base.html :: head}">
</head>
<body>
<div th:replace="~{base.html :: navbar}"></div>
<div th:replace="~{base.html :: contentWrapper}">
    <th:block th:fragment="content">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <th:block th:each="message : ${messages}">
                <div class="col">
                    <div class="card h-100">
                        <div th:if="${message.image}">
                            <img th:src="@{'/image/' + ${message.image}}" alt="Message image" class="card-img-top">
                        </div>
                        <div class="card-body">
                            <span th:text="${message.text}"></span>
                            <br>
                            <em th:text="'#' + ${message.tag}" style="font-style: italic; margin-left: 5px;"></em>
                        </div>
                        <div class="card-footer text-center d-flex justify-content-end">
                            <a href="/" class="btn btn-primary">Edit</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</div>
</body>
</html>
